* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2em;
    background-color: rgb(22,27,29);
    color: #555;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

h1, h2 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: white;
}

h2 {
    font-size: 140%;
}

ul {
    margin: 2px 0 22px 30px;
    font-family: 'Roboto', sans-serif;
}

.nav li a {
    font: normal 100% 'trebucet ms', sans-serif;
    display: block;
    height: 3vw;
    padding: 6px 35px 5px 28px;
    color: #fff;
    text-decoration: none;
}

.nav li.selected a {
    color: #EC2227;
}

ul li {
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.mb-4 {
    padding-left: 25px;
    font-size: 35px;
}

.mb-4 a {
    color: white;
    font-family: 'Roboto';
}

.mb-4 a:hover {
    color: #EC2227
}

.p_article ul {
    padding-top: 25px;
}

.list-unstyled li a {
    color: white;
    padding-top: 10px;
    font-size: 1.3vw;
}

.list-unstyled li a:hover {
    color: #EC2227;
}

.header {
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.main, .site_content {
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: solid 1px rgb(38, 42, 44);
    height: 1.6px;
}

.site_content {
    width: 1000px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: rgb(30,34,36);
}

.sidebar_container {
    width: 600px;
    margin-bottom: 80px;
    font-family: Roboto;
    margin-left: 90px;
}

.sidebar_container h1 {
    color: white;
    font-size: 35px;
    margin-left: 205px;
}

.card {
    margin-top: 10px;
    border: solid 1px rgb(38,42,44);
    background-color: rgb(38,42,44);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 410px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
    padding: 2px 16px;
}

.card_title {
    color: white;
}

.card_title:hover {
    color: #EC2227;
}

.game_card_flex {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
}

.game_card_container {
    border: solid 1px rgb(38,42,44);
    background-color: rgb(38,42,44);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    width: 450px;
}

.game_card_container a {
    color: white;
    font-family: 'Roboto';
}

.game_card_container a:hover {
    color: #EC2227
}

.lables_passreg_text a {
    color: white
}

.lables_passreg_text a:hover {
    color:#EC2227
}

.logo, .logo_down {
    margin-left: 150px; 
}

.logo {
    font-size: 50px;
    color: white;
}

.logo_down {
    color: #555;
}

.nav {
    list-style: none;
    display: block;
    float: right;
    margin-right: 320px;
    
}

.nav-item {
    float: left;
    padding-left: 90px;
    font: normal 100% 'trebucet ms', sans-serif;
    font-size: 20px;
}

.nav-link:hover {
    color: #EC2227;
}

.selected {
    color: #EC2227;
}

.card-text {
    color: white;
    font-family: 'Roboto';
}

.card-text:hover {
    color: #EC2227;
}

@media only screen and (max-width: 600px) {
    .nav {
        margin-right: 0;
    }

    .nav-item {
        padding-left: 20px;
        font-size: 16px;
    }

    .header {
        font-size: 0.6em;
        min-width: 0;
    }

    .logo, .logo_down {
        margin-left: 50px;
    }

    .game_card_container {
        width: 100%;
    }
}


@media only screen and (max-width: 900px) {
    .header {
        min-width: 0;
    }
}

.btn {
    padding: 7px 24px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #EC2227;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      top: var(--mouse-y);
      left: var(--mouse-x);
      transform-style: flat;
      transform: translate3d(-50%,-50%,0);
      background: rgba(white,.1);
      border-radius: 100%;
      transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        background: darken(#FC6E51,7%);
    }
    &:active {
      &:after {
        width: 300px;
        height: 300px;
      }
    }
  }